DB_ROOT_PASSWORD=anhtrungdepzaimaycongabietj
DB_NAME=anhtrungdepzaimaycongabietj
DB_USERNAME=anhtrungdepzaimaycongabietj
DB_PASSWORD=anhtrungdepzaimaycongabietj
JWT_SECRET=anhtrungdepzaimaycongabietj
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
CLOUDINARY_CLOUD_NAME=anhtrungdepzaimaycongabietj
CLOUDINARY_API_KEY=anhtrungdepzaimaycongabietj
CLOUDINARY_API_SECRET=anhtrungdepzaimaycongabietj